<?php if ($posts = $this->getRecent()):  ?>
    <div class="blog-bg" data-source-url="skin url='images/blog-bg.jpg">
        <div class="widget-latest">
            <div class="widget-title center">
                <h1>
                    <?php echo Mage::helper('blog')->__('TODAS LAS NOTICIAS, TIPS Y CONSEJOS CLEMENTE');  ?>
                </h1>
            </div>
            <div class="container">
                <ul class="row">
                    <?php $i = 0; ?>
                    <?php foreach ($posts as $post): ?>
                        <?php if ($i<2): ?>
                
                            <li class="blog-w-item col-xs-12 col-sm-6">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-6">
                                        <div class="postImage">
                                            <span class="widget-latest-data"><?php echo $currentDate = date('d / m / Y', strtotime($post->getCreatedTime())); ?></span>
                                            <a href="<?php echo $post->getAddress(); ?>" ><?php echo Mage::helper('cms')->getBlockTemplateProcessor()->filter($post->getExerptImage()); ?></a>
                                        </div>
                                    </div>
                
                                    <div class="col-md-6 col-sm-12 col-xs-6">
                                        <div class="postWidget">
                                            <div class="widget-latest-title">
                                                <a href="<?php echo $post->getAddress(); ?>" >
                                                    <?php echo $post->getTitle(); ?>
                                                </a>
                                            </div>
                                            <div class="postContent">
                                                <?php echo Mage::helper('cms')->getBlockTemplateProcessor()->filter($post->getShortContent()); ?>
                                            </div>
                                            <a href="<?php echo $post->getAddress(); ?>"class="aw-blog-read-more all-blog">
                                                <?php echo Mage::helper('blog')->__('LEER MAS');  ?>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                
                        <?php endif; ?>
                        <?php $i++; ?>
                    <?php endforeach; ?>
                </ul>
            </div>
           <!-- <a href="<?php // echo $this->getBlogUrl() ?>"class="aw-blog-read-more all-blog"><?php // echo Mage::helper('blog')->__('View all posts');  ?></a> -->
        </div>
    </div>
<?php endif; ?>

<?php ?>
