<?php $suffix = strtolower($this->getNameInLayout()); ?>
<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<div class="widget-catalogsale-products-carousel" id="<?php echo $suffix ?>" >
	<div class="page-title category-title">
        <h1><?php echo $this->__('Special products') ?></h1>
    </div>
    <ul class="sale-carousel">
        <?php foreach ($_products->getItems() as $_product): ?>
        <li class="swiper-slide" itemscope itemtype="http://schema.org/product">
          <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" itemprop="url"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(228) ?>" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" itemprop="image" /></a>
	          <div class="product-details">
	          	  <?php echo $this->getPriceHtml($_product, true, '-widget-catalogsale-'.$suffix) ?>
	              <h2 class="product-name" itemprop="name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>)"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name') ?></a></h2>

	              <?php if ($_product->getIsSalable()): ?>
	                  <a href="<?php echo $this->getAddToCartUrl($_product) ?>" class="button"><span><span><?php echo $this->__('Add to Cart') ?></span></span></a>
	              <?php else: ?>
	                  <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
	              <?php endif; ?>
	          </div>
        </li>
        <?php endforeach ?>
      </ul>
</div>
<?php endif; ?>

