<?php if($this->_getData('type_hover') != 'carusel_images'): ?>
<a class="product-image" href="<?php echo $_product->getProductUrl() ?>"
   title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>">
    <img
        src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($this->_getData('img_custom_width'), $this->_getData('img_custom_height')); ?>"
        alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>"
        title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>"/>
</a>
<?php endif; ?>
<?php if($this->_getData('type_hover') == 'thumbnails'): ?>
    <ul class="product-thumbs">
        <?php $count_thumbs = 1;
        foreach ($_product->load($_product->getId())->getMediaGalleryImages() as $image): ?>
            <?php if ($count_thumbs <= $this->_getData('small_img_custom_count')): ?>
                <?php
                $item_w = $this->_getData('small_img_custom_width');
                $item_h = $this->_getData('small_img_custom_height');
                ?>
                <li class="product-thumb">
                    <a
                        href="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $image->getFile())->resize($this->_getData('img_custom_width'), $this->_getData('img_custom_height')); ?>""
                    title="<?php echo $this->htmlEscape($_product->getName()) ?>"
                    itemprop="url">
                    <img
                        src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $image->getFile())->resize($item_w, $item_h); ?>"
                        alt="<?php echo $this->htmlEscape($_product->getName()) ?>"
                        title="<?php echo $this->htmlEscape($_product->getName()) ?>" itemprop="image"/>
                    </a>
                </li>
            <?php endif;
            $count_thumbs++; ?>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>

<?php if($this->_getData('type_hover') == 'carusel_images'): ?>
    <div class="product-gallery-img">
        <?php foreach ($_product->load($_product->getId())->getMediaGalleryImages() as $image): ?>
            <div class="product-gallery-item">
                <a href="<?php echo $_product->getProductUrl() ?>">
                    <img
                        src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $image->getFile())->resize($this->_getData('img_custom_width'), $this->_getData('img_custom_height')); ?>"
                        alt="<?php echo $this->htmlEscape($_product->getName()) ?>"/>
                </a>
            </div>
        <?php endforeach; ?>
    </div>
    <script>
        jQuery(function () {
            $j(".product-gallery-img").owlCarousel({
                items: 1,
                autoPlay: false,
                stopOnHover: true,
                pagination: false,
                singleItem: true,
                transitionStyle: false,
                navigation: true
            });
        });
    </script>
<?php endif; ?>