<?php
/*
* Name Extension: TM Megamenu
*/
?>
<?php
/**
 * Top menu for store
 *
 * @see Mage_Catalog_Block_Navigation
 */
?>
<?php
/**
 * $this->renderCategoriesMenuHtml() supports optional arguments:
 * bool Add opener if menu is used as accordion
 * int Level number for list item class to start from
 * string Extra class of outermost list items
 * string If specified wraps children list in div with this class
 */
?>
<?php $_menu = $this->renderCategoriesMenuHtml(FALSE, 0,'level-top'); ?>

<?php
	$theme = $this->helper('megamenu');
?>
<div class="nav-container">
	<div class="nav">
    
    
    	<ul id="nav" class="grid-full">
        
		<?php echo $_menu;?>
        <?php if ($tmpHtml = $this->getChildHtml('block_header_nav_dropdown')): ?>
        	<li class="nav-custom-link level0 level-top parent<?php if ($theme->getCfg('mainmenu/custom_block_floating')) echo ' f-right'; ?>">
            	<?php // Get the block title, and display it as tab title
                    $blockTitle = Mage::getModel('cms/block')
						->setStoreId(Mage::app()->getStore()->getId())
						->load('block_header_nav_dropdown')
						->getTitle();
				?>
                <a class="level-top" href="<?php echo Mage::getBaseUrl();?>news"><span><?php echo $blockTitle; ?></span></a>
                <ul class="level0">
					<?php echo $tmpHtml; ?>
                </ul>
            </li>
		<?php endif; ?>
		
			<li><?php echo $this->getChildHtml('block_header_nav_share'); ?></li>
		</ul>
	</div> <!-- end: nav -->
</div> <!-- end: nav-container -->
